[submodule "src/databases/sqlite"]
	path = src/databases/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "src/databases/postgresql"]
	path = src/databases/postgresql
	url = https://github.com/postgres/postgres.git
[submodule "src/databases/clickhouse"]
	path = src/databases/clickhouse
	url = https://github.com/ClickHouse/ClickHouse.git
[submodule "src/databases/duckdb"]
	path = src/databases/duckdb
	url = https://github.com/duckdb/duckdb.git
