[submodule "databases/sqlite"]
	path = databases/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "databases/postgresql"]
	path = databases/postgresql
	url = https://github.com/postgres/postgres.git
[submodule "databases/clickhouse"]
	path = databases/clickhouse
	url = https://github.com/ClickHouse/ClickHouse.git
[submodule "databases/duckdb"]
	path = databases/duckdb
	url = https://github.com/duckdb/duckdb.git
